@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Figtree:wght@300;400;500;600;700;800;900&family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
     @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
  }
  body{
    @apply font-Barlow
  }  
  
  h1{
    @apply text-4xl sm:text-5xl md:text-6xl
  }
  h2{
    @apply text-3xl sm:text-4xl
  }
  li{
    @apply cursor-pointer
  }
  a{
    @apply underline
  }
  
}